<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/fragments :: head('add')}"></head>

<body>

	<main class="container">
		<div class="row">
			<div class="col-sm-6 col-8">
				<form id="note-form" th:action="@{/stickers/create}" enctype="multipart/form-data" method="POST">
					<div class="my-3">
						<label for="text" class="form-label fw-bold">Add Sticker</label>
						<textarea name="text" class="form-control" id="text" rows="5" required minlength="2"
							maxlength="50000"></textarea>
					</div>
					<div class="mb-3">
						<input class="mb-3" type="file" name="file">
					</div>
					<button type="submit" class="btn btn-primary m-1">Confirm</button>
					<button type="reset" class="btn btn-primary m-1">Reset</button>
					<a class="btn btn-primary m-1" th:href="@{/stickers}" role="button">Cancel</a>
				</form>
			</div>
		</div>
	</main>

	<footer>
		<th:block th:replace="~{fragments/fragments :: scripts}"></th:block>
	</footer>

</body>

</html>